{% extends "base.html" %}
{% load static%}

{% block 'title'%}Main form{% endblock %}

{% block 'body'%}

    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <br>
            <div class="formulary">
                <form method="POST" action="{% url "processing" %}">
                    {% csrf_token %}
                    <input name="name" class="form form-control" type="text" placeholder="Insert your full name...">
                    <br>
                    <input name="cpf" class="form form-control" type="text" placeholder="Insert your CPF...">
                    <br> 
                    <input name="email" class="form form-control" type="email" placeholder="Insert your email...">
                    <br>
                    <input class="form form-control btn btn-success" type="submit" >

                </form>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>




{% endblock%}